################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/EasyMinecraft/v15
/packages
/Release
*.pdf
*.rar
/Debug
/EasyMinecraft/Debug
/EasyMinecraft/x64/Debug
/EasyMinecraft/Release/EasyMinecraft.tlog
/EasyMinecraft/Release
/EasyMinecraft/x64/Release
