################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/EasyMinecraft/v15
/packages
/Release
/期末大作业
/2017192047_王凯_实验说明书.docx
*.pdf
*.rar
/Debug
/EasyMinecraft/Debug
/EasyMinecraft/x64/Debug
/EasyMinecraft/Release/EasyMinecraft.tlog
/EasyMinecraft/Release
