<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assimp" version="3.0.0" targetFramework="native" />
  <package id="Assimp.redist" version="3.0.0" targetFramework="native" />
  <package id="glew" version="1.9.0.1" targetFramework="native" />
  <package id="glew.redist" version="1.9.0.1" targetFramework="native" />
  <package id="glfw" version="3.2.1.5" targetFramework="native" />
  <package id="glm" version="0.9.9.300" targetFramework="native" />
</packages>